

# Claude related
**/.env
src.md
**/CLAUDE.md
**/.claude
**/AGENTS.md
**/.agent/
REPOMAP.md
CODEGUIDE.md
**/.cursor
.mcp.json

# SearXNG secrets
config/searxng/settings.yml
PLAN*
PROPOSAL*

# Generated blocklist
config/searxng/hostnames-remove.yml
